:root {

            --primary-text-color: #757575;
            --title-text-color: #212121;
            --accent-color: #2196F3;
            --white-color: #FFFFFF;
}

body{
    color: var(--primary-text-color);
    background: #F5F5F5;
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
/*                                                  HEADER SECTION */ 
.logo-header, .logo-footer {
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    font-family: Roboto;

}

:current(.link-curent) {
    color: var(--accent-color);
}
.link-curent{
    color: var(--accent-color);
}
.logo-web {
    color: var(--accent-color);
}
.logo-studio {
    color: var(--title-text-color);
}
.header-description {
    list-style-type: none;
    font-size: 14px;
    font-weight: 500;
}
.header-description :hover {
    color: var(--accent-color);
}
.header-link {
    color: var(--title-text-color);
    text-decoration: none;
}
.header-contact {
    list-style-type: none;
}
.header-contact :hover {
    color: var(--accent-color);
}
.contact-link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 500;
}
/*                                       FOOTER*/
.footer {
    background-color: #2F303A;
    height: 252px;
    width: 1600px;
}
.logo-footer {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 700;
}
.logo-footer-studio {
    color: var(--white-color);
}

.footer-descraption {
    list-style-type: none;
}

.footer-link {
    color: var(--primary-text-color);
}

.adress-footer {
    color: var(--white-color);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!STUDIO PAGE!!!!!!!!!!!!!!!!!!!!!*/
/*                                      HERO SECTION                 */
.hero{
    background-color: #2F303A;
    text-align: center;
    height: 600px;
    width: 1600px;
        left: 0px;
        top: 80px;
}
.hero-titel {
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    position: absolute;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    position: absolute;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: hidden;
}
/*                    ABOUT US SECTION                    */
.about-desription, .typeofproduct-item, .whatwedo-list, .ourteam-list {
    list-style-type: none;
}
.about-titel, .whatwedo-titel, .typeofproduct-item,.titel, .ourteam-titel, .ourteam-name {
    color: var(--title-text-color);
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO PAGE!!!!!!!!!!*/
/*                                                TYPE OF PRODUCT SECTION*/
.typeofproduct-item :hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
.typeofproduct-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}
/*                                         EXAMPLES OF PRODUCT SECTION*/
.exampleofproduct-descraption {
    list-style-type: none;
}
.titel {
font-size: 18px;
font-weight: 700;
}
